@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-outfit: 'Outfit', 'sans-serif';
}

body {
  font-family: 'Outfit', sans-serif;
}

/* Add smooth transitions for dropdown */
.dropdown-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.dropdown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms, transform 200ms;
}
.dropdown-exit {
  opacity: 1;
}
.dropdown-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 200ms, transform 200ms;
}